# Application
PORT=3000
# Frontend
FRONTEND_URL=http://localhost:3001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_DATABASE=pet_care_db

# Authentication
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN_SECONDS=86400
